body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #acf795;
}

.todo-container {
    background-color: #242b3d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.todo-container h2 {
    margin-top: 0;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.todo-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
}